In [242]:
import pandas as pd
import plotly.express as px
import nbformat
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor




import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [243]:
DinningPred = pd.read_excel("DinningData.xlsx", sheet_name='Data for 2025 pred')

In [244]:
DinningPred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEP          285 non-null    int64
 1   Semester     285 non-null    int64
 2   Month        285 non-null    int64
 3   Year         285 non-null    int64
 4   Hours        240 non-null    float64
 5   Money Spent  285 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 13.5 KB

In [245]:
missing_values = DinningPred.isnull().sum()
missing_values

DEP             0
Semester        0
Month           0
Year            0
Hours          45
Money Spent     0
dtype: int64

In [246]:
print(DinningPred.columns)

Index(['DEP', 'Semester', 'Month', 'Year', 'Hours', 'Money Spent'], dtype='object')

In [247]:
DinningPred

     DEP  Semester  Month  Year    Hours  Money Spent
0      1         1      9  2020  3859.98   31844.8350
1      1         1     10  2020  4722.98   38964.5850
2      1         1     11  2020  2842.68   23452.1100
3      1         1     12  2020  1348.50   11125.1250
4      1         2      1  2021  2247.99   18545.9175
..   ...       ...    ...   ...      ...          ...
280    5         2      1  2025      NaN       0.0000
281    5         3      2  2025      NaN       0.0000
282    5         3      3  2025      NaN       0.0000
283    5         3      4  2025      NaN       0.0000
284    5         3      5  2025      NaN       0.0000

[285 rows x 6 columns]

In [257]:
def impute_with_models(df, target_column, feature_columns, tolerance=0.1, n_neighbors=4,n_estimators=50, random_state=42):
    # Separate the data into rows with and without missing values
    df_missing = df[df[target_column].isnull()]
    df_not_missing = df.dropna(subset=[target_column])

    # If there are no missing values, return the original dataframe
    if df_missing.empty:
        print(f"No missing values for {target_column}. Skipping imputation.")
        return df, None, None, None, None, None, None, None, None  # Return None for metrics

    # Split df_not_missing into training and testing sets
    X = df_not_missing[feature_columns]
    y = df_not_missing[target_column]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Create and fit a linear regression model
    lr_model = LinearRegression()
    lr_model.fit(X_train, y_train)

    # Predict on the test set to evaluate the linear regression model
    lr_y_pred = lr_model.predict(X_test)

    # Calculate evaluation metrics for linear regression
    lr_mse = mean_squared_error(y_test, lr_y_pred)
    lr_mae = mean_absolute_error(y_test, lr_y_pred)
    lr_r2 = r2_score(y_test, lr_y_pred)

    print(f"Linear Regression Evaluation metrics for {target_column}:")
    print(f"Mean Squared Error (MSE): {lr_mse:.2f}")
    print(f"Mean Absolute Error (MAE): {lr_mae:.2f}")
    print(f"R-squared (R²): {lr_r2:.2f}")

    # Create and fit a KNN model
    knn_model = KNeighborsRegressor(n_neighbors=n_neighbors)
    knn_model.fit(X_train, y_train)

    # Predict on the test set to evaluate the KNN model
    knn_y_pred = knn_model.predict(X_test)

    # Calculate evaluation metrics for KNN
    knn_mse = mean_squared_error(y_test, knn_y_pred)
    knn_mae = mean_absolute_error(y_test, knn_y_pred)
    knn_r2 = r2_score(y_test, knn_y_pred)

    print(f"KNN Evaluation metrics for {target_column}:")
    print(f"Mean Squared Error (MSE): {knn_mse:.2f}")
    print(f"Mean Absolute Error (MAE): {knn_mae:.2f}")
    print(f"R-squared (R²): {knn_r2:.2f}")

    # Create and fit a Random Forest Regressor model
    rf_model = RandomForestRegressor(n_estimators=n_estimators, random_state=random_state)
    rf_model.fit(X_train, y_train)

    # Predict on the test set to evaluate the model
    rf_y_pred = rf_model.predict(X_test)

    # Calculate evaluation metrics
    rf_mse = mean_squared_error(y_test, rf_y_pred)
    rf_mae = mean_absolute_error(y_test, rf_y_pred)
    rf_r2 = r2_score(y_test, rf_y_pred)

    print(f"KNN Evaluation metrics for {target_column}:")
    print(f"Mean Squared Error (MSE): {rf_mse:.2f}")
    print(f"Mean Absolute Error (MAE): {rf_mae:.2f}")
    print(f"R-squared (R²): {rf_r2:.2f}")


    # Predict missing values using the model (choose the better model based on R²)
    X_missing = df_missing[feature_columns]
    if lr_r2 > knn_r2 and lr_r2 > rf_r2 :
        print("Using Linear Regression for imputation.")
        predicted_values = lr_model.predict(X_missing)
    elif knn_r2 > lr_r2 and knn_r2 > rf_r2:
        print("Using KNN for imputation.")
        predicted_values = knn_model.predict(X_missing)
    else:
        print("Using RF for imputation.")
        predicted_values = rf_model.predict(X_missing)

    # Create a dataset with imputed missing values
    df_filled = df.copy()
    df_filled.loc[df_missing.index, target_column] = predicted_values

    return df_filled, lr_mse, lr_mae, lr_r2, knn_mse, knn_mae, knn_r2, rf_mse, rf_mae, rf_r2

In [258]:
target_columns_to_impute = ['Hours']
feature_columns_for_imputation = ['Year', 'Month', 'DEP', 'Semester']
linear_data = DinningPred.copy()

In [259]:
for target_column in target_columns_to_impute:
    linear_data, lr_mse, lr_mae, lr_r2, knn_mse, knn_mae, knn_r2, rf_mse, rf_mae, rf_r2 = impute_with_models(linear_data, target_column, feature_columns_for_imputation)
    print(f"Linear Regression - MSE: {lr_mse}, MAE: {lr_mae}, R²: {lr_r2}")
    print(f"KNN - MSE: {knn_mse}, MAE: {knn_mae}, R²: {knn_r2}")
    print(f"RF - MSE: {rf_mse}, MAE: {rf_mae}, R²: {rf_r2}")

Linear Regression Evaluation metrics for Hours:
Mean Squared Error (MSE): 128528.66
Mean Absolute Error (MAE): 273.10
R-squared (R²): 0.58
KNN Evaluation metrics for Hours:
Mean Squared Error (MSE): 35692.71
Mean Absolute Error (MAE): 104.51
R-squared (R²): 0.88
KNN Evaluation metrics for Hours:
Mean Squared Error (MSE): 40066.74
Mean Absolute Error (MAE): 117.62
R-squared (R²): 0.87
Using KNN for imputation.
Linear Regression - MSE: 128528.65507646448, MAE: 273.10225925214013, R²: 0.5828380816448937
KNN - MSE: 35692.70673859878, MAE: 104.50530383333334, R²: 0.884153164090125
RF - MSE: 40066.74014690586, MAE: 117.6155951154167, R²: 0.8699564842410037

In [260]:
print(linear_data)

     DEP  Semester  Month  Year      Hours  Money Spent
0      1         1      9  2020  3859.9800   31844.8350
1      1         1     10  2020  4722.9800   38964.5850
2      1         1     11  2020  2842.6800   23452.1100
3      1         1     12  2020  1348.5000   11125.1250
4      1         2      1  2021  2247.9900   18545.9175
..   ...       ...    ...   ...        ...          ...
280    5         2      1  2025   135.2225       0.0000
281    5         3      2  2025   114.8400       0.0000
282    5         3      3  2025   125.6800       0.0000
283    5         3      4  2025   122.9750       0.0000
284    5         3      5  2025    88.1975       0.0000

[285 rows x 6 columns]

In [261]:
missing_values = linear_data.isnull().sum()
missing_values

DEP            0
Semester       0
Month          0
Year           0
Hours          0
Money Spent    0
dtype: int64

In [262]:
df_2025 = linear_data[linear_data['Year'] == 2025]
df_2025

     DEP  Semester  Month  Year     Hours  Money Spent
52     1         2      1  2025  896.5525          0.0
53     1         3      2  2025  797.3625          0.0
54     1         3      3  2025  839.6650          0.0
55     1         3      4  2025  756.6600          0.0
56     1         3      5  2025  665.7075          0.0
109    2         2      1  2025  701.2000          0.0
110    2         3      2  2025  747.4500          0.0
111    2         3      3  2025  613.3475          0.0
112    2         3      4  2025  536.5900          0.0
113    2         3      5  2025  451.1075          0.0
166    3         2      1  2025  413.3500          0.0
167    3         3      2  2025  463.9400          0.0
168    3         3      3  2025  375.0825          0.0
169    3         3      4  2025  450.8175          0.0
170    3         3      5  2025  263.9150          0.0
223    4         2      1  2025  250.1525          0.0
224    4         3      2  2025  289.4925          0.0
225    4         3      3  2025  188.7625          0.0
226    4         3      4  2025  216.0375          0.0
227    4         3      5  2025  139.9775          0.0
280    5         2      1  2025  135.2225          0.0
281    5         3      2  2025  114.8400          0.0
282    5         3      3  2025  125.6800          0.0
283    5         3      4  2025  122.9750          0.0
284    5         3      5  2025   88.1975          0.0

In [263]:
df_2024 = linear_data[linear_data['Year'] == 2024]
df_2024

     DEP  Semester  Month  Year        Hours  Money Spent
40     1         2      1  2024   948.630000    8774.8275
41     1         3      2  2024  1057.590000    9782.7075
42     1         3      3  2024   694.670000    6425.6975
43     1         3      4  2024  1065.520000    9856.0600
44     1         3      5  2024   418.670000    3872.6975
45     1         4      6  2024     0.000000       0.0000
46     1         4      7  2024     0.000000       0.0000
47     1         4      8  2024     0.000000       0.0000
48     1         1      9  2024  1461.137500       0.0000
49     1         1     10  2024  1461.137500       0.0000
50     1         1     11  2024   956.562500       0.0000
51     1         1     12  2024   993.367500       0.0000
97     2         2      1  2024   683.680000    6324.0400
98     2         3      2  2024   896.310000    8290.8675
99     2         3      3  2024   540.880000    5003.1400
100    2         3      4  2024   847.780000    7841.9650
101    2         3      5  2024   330.860000    3060.4550
102    2         4      6  2024     0.000000       0.0000
103    2         4      7  2024     0.000000       0.0000
104    2         4      8  2024     0.000000       0.0000
105    2         1      9  2024  1170.652500       0.0000
106    2         1     10  2024  1082.915000       0.0000
107    2         1     11  2024   590.892500       0.0000
108    2         1     12  2024   459.155000       0.0000
154    3         2      1  2024   276.180000    2554.6650
155    3         3      2  2024   495.020000    4578.9350
156    3         3      3  2024   321.530000    2974.1525
157    3         3      4  2024   426.840000    3948.2700
158    3         3      5  2024   207.120000    1915.8600
159    3         4      6  2024     0.000000       0.0000
160    3         4      7  2024     0.000000       0.0000
161    3         4      8  2024     0.000000       0.0000
162    3         1      9  2024   634.737500       0.0000
163    3         1     10  2024   589.625000       0.0000
164    3         1     11  2024   382.702500       0.0000
165    3         1     12  2024   310.885000       0.0000
211    4         2      1  2024   198.520000    1836.3100
212    4         3      2  2024   261.430000    2418.2275
213    4         3      3  2024   142.900000    1321.8250
214    4         3      4  2024   203.570000    1883.0225
215    4         3      5  2024    90.840000     840.2700
216    4         4      6  2024     0.000000       0.0000
217    4         4      7  2024     0.000000       0.0000
218    4         4      8  2024     0.000000       0.0000
219    4         1      9  2024   431.932500       0.0000
220    4         1     10  2024   326.727500       0.0000
221    4         1     11  2024   339.545000       0.0000
222    4         1     12  2024   251.555000       0.0000
268    5         2      1  2024    30.890000     285.7325
269    5         3      2  2024   109.630000    1014.0775
270    5         3      3  2024    87.050000     805.2125
271    5         3      4  2024   119.090000    1101.5825
272    5         3      5  2024    58.380000     540.0150
273    5         4      6  2024     0.000000       0.0000
274    5         4      7  2024     0.000000       0.0000
275    5         4      8  2024     0.000000       0.0000
276    5         1      9  2024   255.553333       0.0000
277    5         1     10  2024   256.977917       0.0000
278    5         1     11  2024   173.525000       0.0000
279    5         1     12  2024   180.673750       0.0000

In [264]:
df_2025 = linear_data[linear_data['Year'] == 2025]
df_2025

     DEP  Semester  Month  Year     Hours  Money Spent
52     1         2      1  2025  896.5525          0.0
53     1         3      2  2025  797.3625          0.0
54     1         3      3  2025  839.6650          0.0
55     1         3      4  2025  756.6600          0.0
56     1         3      5  2025  665.7075          0.0
109    2         2      1  2025  701.2000          0.0
110    2         3      2  2025  747.4500          0.0
111    2         3      3  2025  613.3475          0.0
112    2         3      4  2025  536.5900          0.0
113    2         3      5  2025  451.1075          0.0
166    3         2      1  2025  413.3500          0.0
167    3         3      2  2025  463.9400          0.0
168    3         3      3  2025  375.0825          0.0
169    3         3      4  2025  450.8175          0.0
170    3         3      5  2025  263.9150          0.0
223    4         2      1  2025  250.1525          0.0
224    4         3      2  2025  289.4925          0.0
225    4         3      3  2025  188.7625          0.0
226    4         3      4  2025  216.0375          0.0
227    4         3      5  2025  139.9775          0.0
280    5         2      1  2025  135.2225          0.0
281    5         3      2  2025  114.8400          0.0
282    5         3      3  2025  125.6800          0.0
283    5         3      4  2025  122.9750          0.0
284    5         3      5  2025   88.1975          0.0

In [265]:
PredictedData = linear_data.copy()

In [266]:
PredictedData

     DEP  Semester  Month  Year      Hours  Money Spent
0      1         1      9  2020  3859.9800   31844.8350
1      1         1     10  2020  4722.9800   38964.5850
2      1         1     11  2020  2842.6800   23452.1100
3      1         1     12  2020  1348.5000   11125.1250
4      1         2      1  2021  2247.9900   18545.9175
..   ...       ...    ...   ...        ...          ...
280    5         2      1  2025   135.2225       0.0000
281    5         3      2  2025   114.8400       0.0000
282    5         3      3  2025   125.6800       0.0000
283    5         3      4  2025   122.9750       0.0000
284    5         3      5  2025    88.1975       0.0000

[285 rows x 6 columns]

In [267]:
PredictedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEP          285 non-null    int64
 1   Semester     285 non-null    int64
 2   Month        285 non-null    int64
 3   Year         285 non-null    int64
 4   Hours        285 non-null    float64
 5   Money Spent  285 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 13.5 KB

In [268]:
missing_values = PredictedData.isnull().sum()
missing_values

DEP            0
Semester       0
Month          0
Year           0
Hours          0
Money Spent    0
dtype: int64