In [18]:
import pandas as pd
import plotly.express as px
import nbformat
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [19]:
Dinning = pd.read_excel("DinningData.xlsx")

In [20]:
Dinning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEP          240 non-null    int64
 1   Semester     240 non-null    object
 2   Month        240 non-null    int64
 3   Year         240 non-null    int64
 4   Hours        180 non-null    float64
 5   Money Spent  240 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 11.4+ KB

In [21]:
Dinning

     DEP Semester  Month  Year    Hours  Money Spent
0      1     Fall      9  2020  3859.98   31844.8350
1      1     Fall     10  2020  4722.98   38964.5850
2      1     Fall     11  2020  2842.68   23452.1100
3      1     Fall     12  2020  1348.50   11125.1250
4      1   J-Term      1  2021  2247.99   18545.9175
..   ...      ...    ...   ...      ...          ...
235    5   Spring      4  2024   119.09    1101.5825
236    5   Spring      5  2024    58.38     540.0150
237    5   Summer      6  2024     0.00       0.0000
238    5   Summer      7  2024     0.00       0.0000
239    5   Summer      8  2024     0.00       0.0000

[240 rows x 6 columns]

In [22]:
missing_values = Dinning.isnull().sum()
missing_values

DEP             0
Semester        0
Month           0
Year            0
Hours          60
Money Spent     0
dtype: int64

In [23]:
print(Dinning.columns)

Index(['DEP', 'Semester', 'Month', 'Year', 'Hours', 'Money Spent'], dtype='object')

In [24]:
# def split_dataset(df):
#     """
#     Splits the dataset into training and testing sets.
    
#     Parameters:
#     - df (pd.DataFrame): The input dataset.
    
#     Returns:
#     - X_train, X_test, y_train, y_test: Training and testing sets for features and labels.
#     """
#     # Replace 'your_target_column' with the actual name of your target column
#     target_column = 'Hours'
    
#     X = df.drop(target_column, axis=1)
#     y = df[target_column]
    
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
#     print(f'Size of the Train: {X_train.shape[0]}')
#     print(f'Size of the Test: {X_test.shape[0]}')
    
#     return X_train, X_test, y_train, y_test


# def train_model_random_forest(X_train, X_test, y_train, y_test):
#     """
#     Creates and trains a RandomForest model on the given training set 
#     and evaluates its performance on the test set.
    
#     Parameters:
#     - X_train, X_test, y_train, y_test: Training and testing sets for features and labels.
    
#     Returns:
#     - accuracy (float): Accuracy score of the trained model on the test set.
#     """
#     # Create and train the RandomForest model
#     rf_model = RandomForestClassifier()
#     rf_model.fit(X_train, y_train)

#     # Evaluate the model on the test set
#     y_pred = rf_model.predict(X_test)
#     accuracy = accuracy_score(y_test, y_pred)
#     print(f"Accuracy: {accuracy}\n")
#     return accuracy

# accuracies = {}

In [25]:
def linear_regression_impute(df, target_column, feature_columns):
    # Separate the data into rows with and without missing values
    df_missing = df[df[target_column].isnull()]
    df_not_missing = df.dropna(subset=[target_column])

    # If there are no missing values, return the original dataframe
    if df_missing.empty:
        print(f"No missing values for {target_column}. Skipping imputation.")
        return df

    # Create training and test sets for the model
    X_train = df_not_missing[feature_columns]
    y_train = df_not_missing[target_column]

    # Create and fit a linear regression model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Predict missing values using the model
    X_missing = df_missing[feature_columns]
    predicted_values = model.predict(X_missing)

    # Create a dataset with imputed missing values
    df_filled = df.copy()
    df_filled.loc[df_missing.index, target_column] = predicted_values

    return df_filled

In [26]:
target_columns_to_impute = ['Hours']
feature_columns_for_imputation = ['Year', 'Month', 'DEP']
linear_data = Dinning.copy()

In [27]:
linear_data

     DEP Semester  Month  Year    Hours  Money Spent
0      1     Fall      9  2020  3859.98   31844.8350
1      1     Fall     10  2020  4722.98   38964.5850
2      1     Fall     11  2020  2842.68   23452.1100
3      1     Fall     12  2020  1348.50   11125.1250
4      1   J-Term      1  2021  2247.99   18545.9175
..   ...      ...    ...   ...      ...          ...
235    5   Spring      4  2024   119.09    1101.5825
236    5   Spring      5  2024    58.38     540.0150
237    5   Summer      6  2024     0.00       0.0000
238    5   Summer      7  2024     0.00       0.0000
239    5   Summer      8  2024     0.00       0.0000

[240 rows x 6 columns]

In [28]:
for target_column in target_columns_to_impute:
    linear_data = linear_regression_impute(linear_data, target_column, feature_columns_for_imputation)

In [29]:
linear_data

     DEP Semester  Month  Year    Hours  Money Spent
0      1     Fall      9  2020  3859.98   31844.8350
1      1     Fall     10  2020  4722.98   38964.5850
2      1     Fall     11  2020  2842.68   23452.1100
3      1     Fall     12  2020  1348.50   11125.1250
4      1   J-Term      1  2021  2247.99   18545.9175
..   ...      ...    ...   ...      ...          ...
235    5   Spring      4  2024   119.09    1101.5825
236    5   Spring      5  2024    58.38     540.0150
237    5   Summer      6  2024     0.00       0.0000
238    5   Summer      7  2024     0.00       0.0000
239    5   Summer      8  2024     0.00       0.0000

[240 rows x 6 columns]

In [30]:
missing_values = linear_data.isnull().sum()
missing_values

DEP            0
Semester       0
Month          0
Year           0
Hours          0
Money Spent    0
dtype: int64

In [32]:
df_2021 = linear_data[linear_data['Year'] == 2021]
df_2021

     DEP Semester  Month  Year    Hours  Money Spent
4      1   J-Term      1  2021  2247.99   18545.9175
5      1   Spring      2  2021  2226.97   18372.5025
6      1   Spring      3  2021  2554.32   21073.1400
7      1   Spring      4  2021  1805.98   14899.3350
8      1   Spring      5  2021  1089.94    8992.0050
9      1   Summer      6  2021   262.36    2164.4700
10     1   Summer      7  2021   209.56    1728.8700
11     1   Summer      8  2021   509.91    4206.7575
12     1     Fall      9  2021  2854.16   23546.8200
13     1     Fall     10  2021  2101.19   17334.8175
14     1     Fall     11  2021  1941.71   16019.1075
15     1     Fall     12  2021   900.42    7428.4650
52     2   J-Term      1  2021   820.95    6772.8375
53     2   Spring      2  2021   810.24    6684.4800
54     2   Spring      3  2021   901.99    7441.4175
55     2   Spring      4  2021   632.70    5219.7750
56     2   Spring      5  2021   270.14    2228.6550
57     2   Summer      6  2021     0.00       0.0000
58     2   Summer      7  2021     0.00       0.0000
59     2   Summer      8  2021    11.14      91.9050
60     2     Fall      9  2021  1400.84   11556.9300
61     2     Fall     10  2021  1042.28    8598.8100
62     2     Fall     11  2021   943.14    7780.9050
63     2     Fall     12  2021   489.77    4040.6025
100    3   J-Term      1  2021   624.36    5150.9700
101    3   Spring      2  2021   663.02    5469.9150
102    3   Spring      3  2021   891.05    7351.1625
103    3   Spring      4  2021   643.75    5310.9375
104    3   Spring      5  2021   288.86    2383.0950
105    3   Summer      6  2021     0.00       0.0000
106    3   Summer      7  2021     0.00       0.0000
107    3   Summer      8  2021    65.59     541.1175
108    3     Fall      9  2021   939.69    7752.4425
109    3     Fall     10  2021   749.89    6186.5925
110    3     Fall     11  2021   681.90    5625.6750
111    3     Fall     12  2021   329.66    2719.6950
148    4   J-Term      1  2021   104.51     862.2075
149    4   Spring      2  2021   248.15    2047.2375
150    4   Spring      3  2021   314.17    2591.9025
151    4   Spring      4  2021   266.29    2196.8925
152    4   Spring      5  2021   116.69     962.6925
153    4   Summer      6  2021     0.00       0.0000
154    4   Summer      7  2021     0.00       0.0000
155    4   Summer      8  2021     0.00       0.0000
156    4     Fall      9  2021   266.22    2196.3150
157    4     Fall     10  2021   223.53    1844.1225
158    4     Fall     11  2021   210.47    1736.3775
159    4     Fall     12  2021   123.31    1017.3075
196    5   J-Term      1  2021     0.00       0.0000
197    5   Spring      2  2021     0.00       0.0000
198    5   Spring      3  2021     0.00       0.0000
199    5   Spring      4  2021     0.00       0.0000
200    5   Spring      5  2021     0.00       0.0000
201    5   Summer      6  2021    96.00     792.0000
202    5   Summer      7  2021     0.00       0.0000
203    5   Summer      8  2021    17.80     146.8500
204    5     Fall      9  2021   289.29    2386.6425
205    5     Fall     10  2021   454.43    3749.0475
206    5     Fall     11  2021   329.54    2718.7050
207    5     Fall     12  2021   240.04    1980.3300

In [31]:
df_2022 = linear_data[linear_data['Year'] == 2022]
df_2022

     DEP Semester  Month  Year        Hours  Money Spent
16     1   J-Term      1  2022  1101.374108          0.0
17     1   Spring      2  2022  1097.687403          0.0
18     1   Spring      3  2022  1094.000697          0.0
19     1   Spring      4  2022  1090.313992          0.0
20     1   Spring      5  2022  1086.627286          0.0
21     1   Summer      6  2022  1082.940581          0.0
22     1   Summer      7  2022  1079.253875          0.0
23     1   Summer      8  2022  1075.567170          0.0
24     1     Fall      9  2022  1071.880464          0.0
25     1     Fall     10  2022  1068.193759          0.0
26     1     Fall     11  2022  1064.507053          0.0
27     1     Fall     12  2022  1060.820348          0.0
64     2   J-Term      1  2022   822.607414          0.0
65     2   Spring      2  2022   818.920708          0.0
66     2   Spring      3  2022   815.234003          0.0
67     2   Spring      4  2022   811.547297          0.0
68     2   Spring      5  2022   807.860592          0.0
69     2   Summer      6  2022   804.173886          0.0
70     2   Summer      7  2022   800.487181          0.0
71     2   Summer      8  2022   796.800475          0.0
72     2     Fall      9  2022   793.113770          0.0
73     2     Fall     10  2022   789.427064          0.0
74     2     Fall     11  2022   785.740359          0.0
75     2     Fall     12  2022   782.053653          0.0
112    3   J-Term      1  2022   543.840719          0.0
113    3   Spring      2  2022   540.154014          0.0
114    3   Spring      3  2022   536.467308          0.0
115    3   Spring      4  2022   532.780603          0.0
116    3   Spring      5  2022   529.093897          0.0
117    3   Summer      6  2022   525.407192          0.0
118    3   Summer      7  2022   521.720486          0.0
119    3   Summer      8  2022   518.033781          0.0
120    3     Fall      9  2022   514.347075          0.0
121    3     Fall     10  2022   510.660370          0.0
122    3     Fall     11  2022   506.973664          0.0
123    3     Fall     12  2022   503.286959          0.0
160    4   J-Term      1  2022   265.074025          0.0
161    4   Spring      2  2022   261.387319          0.0
162    4   Spring      3  2022   257.700614          0.0
163    4   Spring      4  2022   254.013908          0.0
164    4   Spring      5  2022   250.327203          0.0
165    4   Summer      6  2022   246.640497          0.0
166    4   Summer      7  2022   242.953792          0.0
167    4   Summer      8  2022   239.267086          0.0
168    4     Fall      9  2022   235.580381          0.0
169    4     Fall     10  2022   231.893675          0.0
170    4     Fall     11  2022   228.206970          0.0
171    4     Fall     12  2022   224.520264          0.0
208    5   J-Term      1  2022   -13.692670          0.0
209    5   Spring      2  2022   -17.379375          0.0
210    5   Spring      3  2022   -21.066081          0.0
211    5   Spring      4  2022   -24.752786          0.0
212    5   Spring      5  2022   -28.439492          0.0
213    5   Summer      6  2022   -32.126197          0.0
214    5   Summer      7  2022   -35.812903          0.0
215    5   Summer      8  2022   -39.499608          0.0
216    5     Fall      9  2022   -43.186314          0.0
217    5     Fall     10  2022   -46.873019          0.0
218    5     Fall     11  2022   -50.559725          0.0
219    5     Fall     12  2022   -54.246430          0.0

In [55]:
df_2023 = linear_data[linear_data['Year'] == 2023]
df_2023

             DEP Semester  Month  Year    Hours  Money Spent
28   Res Dinning   J-Term      1  2023   985.28    9113.8400
29   Res Dinning   Spring      2  2023  1122.92   10387.0100
30   Res Dinning   Spring      3  2023   726.02    6715.6850
31   Res Dinning   Spring      4  2023   855.91    7917.1675
32   Res Dinning   Spring      5  2023   494.04    4569.8700
33   Res Dinning   Summer      6  2023     0.00       0.0000
34   Res Dinning   Summer      7  2023     0.00       0.0000
35   Res Dinning   Summer      8  2023   216.39    2001.6075
36   Res Dinning     Fall      9  2023  2085.05   19286.7125
37   Res Dinning     Fall     10  2023  1815.03   16789.0275
38   Res Dinning     Fall     11  2023  1581.20   14626.1000
39   Res Dinning     Fall     12  2023   695.89    6436.9825
76        Martys   J-Term      1  2023   418.10    3867.4250
77        Martys   Spring      2  2023   529.87    4901.2975
78        Martys   Spring      3  2023   493.22    4562.2850
79        Martys   Spring      4  2023   540.75    5001.9375
80        Martys   Spring      5  2023   344.74    3188.8450
81        Martys   Summer      6  2023     0.00       0.0000
82        Martys   Summer      7  2023     0.00       0.0000
83        Martys   Summer      8  2023    31.75     293.6875
84        Martys     Fall      9  2023  1018.35    9419.7375
85        Martys     Fall     10  2023   926.12    8566.6100
86        Martys     Fall     11  2023   888.89    8222.2325
87        Martys     Fall     12  2023   389.21    3600.1925
124       Oneota   J-Term      1  2023   409.03    3783.5275
125       Oneota   Spring      2  2023   527.34    4877.8950
126       Oneota   Spring      3  2023   539.16    4987.2300
127       Oneota   Spring      4  2023   480.00    4440.0000
128       Oneota   Spring      5  2023   294.11    2720.5175
129       Oneota   Summer      6  2023     0.00       0.0000
130       Oneota   Summer      7  2023     0.00       0.0000
131       Oneota   Summer      8  2023    35.87     331.7975
132       Oneota     Fall      9  2023   653.09    6041.0825
133       Oneota     Fall     10  2023   572.16    5292.4800
134       Oneota     Fall     11  2023   476.08    4403.7400
135       Oneota     Fall     12  2023   275.44    2547.8200
172      C-Store   J-Term      1  2023   220.26    2037.4050
173      C-Store   Spring      2  2023   305.91    2829.6675
174      C-Store   Spring      3  2023   212.57    1966.2725
175      C-Store   Spring      4  2023   250.63    2318.3275
176      C-Store   Spring      5  2023   164.15    1518.3875
177      C-Store   Summer      6  2023     0.00       0.0000
178      C-Store   Summer      7  2023     0.00       0.0000
179      C-Store   Summer      8  2023    11.50     106.3750
180      C-Store     Fall      9  2023   295.35    2731.9875
181      C-Store     Fall     10  2023   207.13    1915.9525
182      C-Store     Fall     11  2023   195.95    1812.5375
183      C-Store     Fall     12  2023   102.81     950.9925
220     Catering   J-Term      1  2023    35.30     326.5250
221     Catering   Spring      2  2023   107.78     996.9650
222     Catering   Spring      3  2023    69.20     640.1000
223     Catering   Spring      4  2023    64.50     596.6250
224     Catering   Spring      5  2023    39.25     363.0625
225     Catering   Summer      6  2023     0.00       0.0000
226     Catering   Summer      7  2023     0.00       0.0000
227     Catering   Summer      8  2023     0.00       0.0000
228     Catering     Fall      9  2023   246.31    2278.3675
229     Catering     Fall     10  2023   232.27    2148.4975
230     Catering     Fall     11  2023   237.31    2195.1175
231     Catering     Fall     12  2023   151.89    1404.9825