In [2]:
import pandas as pd
import plotly.express as px
import nbformat
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
Dinning = pd.read_excel("DinningData.xlsx")

In [4]:
Dinning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEP          240 non-null    object
 1   Semester     240 non-null    object
 2   Month        240 non-null    object
 3   Year         240 non-null    int64
 4   Hours        180 non-null    float64
 5   Money Spent  240 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.4+ KB

In [5]:
Dinning

             DEP Semester Month  Year    Hours  Money Spent
0    Res Dinning     Fall   Sep  2020  3859.98   31844.8350
1    Res Dinning     Fall   Oct  2020  4722.98   38964.5850
2    Res Dinning     Fall   Nov  2020  2842.68   23452.1100
3    Res Dinning     Fall   Dec  2020  1348.50   11125.1250
4    Res Dinning   J-Term   Jan  2021  2247.99   18545.9175
..           ...      ...   ...   ...      ...          ...
235     Catering   Spring   Apr  2024   119.09    1101.5825
236     Catering   Spring   May  2024    58.38     540.0150
237     Catering   Summer   Jun  2024     0.00       0.0000
238     Catering   Summer  July  2024     0.00       0.0000
239     Catering   Summer   Aug  2024     0.00       0.0000

[240 rows x 6 columns]

In [6]:
missing_values = Dinning.isnull().sum()
missing_values

DEP             0
Semester        0
Month           0
Year            0
Hours          60
Money Spent     0
dtype: int64

In [7]:
print(Dinning.columns)

Index(['DEP', 'Semester', 'Month', 'Year', 'Hours', 'Money Spent'], dtype='object')

In [25]:
# def split_dataset(df):
#     """
#     Splits the dataset into training and testing sets.
    
#     Parameters:
#     - df (pd.DataFrame): The input dataset.
    
#     Returns:
#     - X_train, X_test, y_train, y_test: Training and testing sets for features and labels.
#     """
#     # Replace 'your_target_column' with the actual name of your target column
#     target_column = 'Hours'
    
#     X = df.drop(target_column, axis=1)
#     y = df[target_column]
    
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
#     print(f'Size of the Train: {X_train.shape[0]}')
#     print(f'Size of the Test: {X_test.shape[0]}')
    
#     return X_train, X_test, y_train, y_test


# def train_model_random_forest(X_train, X_test, y_train, y_test):
#     """
#     Creates and trains a RandomForest model on the given training set 
#     and evaluates its performance on the test set.
    
#     Parameters:
#     - X_train, X_test, y_train, y_test: Training and testing sets for features and labels.
    
#     Returns:
#     - accuracy (float): Accuracy score of the trained model on the test set.
#     """
#     # Create and train the RandomForest model
#     rf_model = RandomForestClassifier()
#     rf_model.fit(X_train, y_train)

#     # Evaluate the model on the test set
#     y_pred = rf_model.predict(X_test)
#     accuracy = accuracy_score(y_test, y_pred)
#     print(f"Accuracy: {accuracy}\n")
#     return accuracy

# accuracies = {}

In [26]:
def linear_regression_impute(df, target_column, feature_columns):
    # Separate the data into rows with and without missing values
    df_missing = df[df[target_column].isnull()]
    df_not_missing = df.dropna(subset=[target_column])

    # If there are no missing values, return the original dataframe
    if df_missing.empty:
        print(f"No missing values for {target_column}. Skipping imputation.")
        return df

    # Create training and test sets for the model
    X_train = df_not_missing[feature_columns]
    y_train = df_not_missing[target_column]

    # Create and fit a linear regression model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Predict missing values using the model
    X_missing = df_missing[feature_columns]
    predicted_values = model.predict(X_missing)

    # Create a dataset with imputed missing values
    df_filled = df.copy()
    df_filled.loc[df_missing.index, target_column] = predicted_values

    return df_filled

In [27]:
target_columns_to_impute = ['Hours']
feature_columns_for_imputation = ['Year']
linear_data = Dinning.copy()

In [34]:
linear_data

             DEP Semester Month  Year    Hours  Money Spent
0    Res Dinning     Fall   Sep  2020  3859.98   31844.8350
1    Res Dinning     Fall   Oct  2020  4722.98   38964.5850
2    Res Dinning     Fall   Nov  2020  2842.68   23452.1100
3    Res Dinning     Fall   Dec  2020  1348.50   11125.1250
4    Res Dinning   J-Term   Jan  2021  2247.99   18545.9175
..           ...      ...   ...   ...      ...          ...
235     Catering   Spring   Apr  2024   119.09    1101.5825
236     Catering   Spring   May  2024    58.38     540.0150
237     Catering   Summer   Jun  2024     0.00       0.0000
238     Catering   Summer  July  2024     0.00       0.0000
239     Catering   Summer   Aug  2024     0.00       0.0000

[240 rows x 6 columns]

In [35]:
for target_column in target_columns_to_impute:
    linear_data = linear_regression_impute(linear_data, target_column, feature_columns_for_imputation)

No missing values for Hours. Skipping imputation.

In [36]:
linear_data

             DEP Semester Month  Year    Hours  Money Spent
0    Res Dinning     Fall   Sep  2020  3859.98   31844.8350
1    Res Dinning     Fall   Oct  2020  4722.98   38964.5850
2    Res Dinning     Fall   Nov  2020  2842.68   23452.1100
3    Res Dinning     Fall   Dec  2020  1348.50   11125.1250
4    Res Dinning   J-Term   Jan  2021  2247.99   18545.9175
..           ...      ...   ...   ...      ...          ...
235     Catering   Spring   Apr  2024   119.09    1101.5825
236     Catering   Spring   May  2024    58.38     540.0150
237     Catering   Summer   Jun  2024     0.00       0.0000
238     Catering   Summer  July  2024     0.00       0.0000
239     Catering   Summer   Aug  2024     0.00       0.0000

[240 rows x 6 columns]

In [37]:
missing_values = linear_data.isnull().sum()
missing_values

DEP            0
Semester       0
Month          0
Year           0
Hours          0
Money Spent    0
dtype: int64

In [40]:
df_2022 = linear_data[linear_data['Year'] == 2022]
df_2022

             DEP Semester Month  Year       Hours  Money Spent
16   Res Dinning   J-Term   Jan  2022  522.817165          0.0
17   Res Dinning   Spring   Feb  2022  522.817165          0.0
18   Res Dinning   Spring   Mar  2022  522.817165          0.0
19   Res Dinning   Spring   Apr  2022  522.817165          0.0
20   Res Dinning   Spring   May  2022  522.817165          0.0
21   Res Dinning   Summer   Jun  2022  522.817165          0.0
22   Res Dinning   Summer  July  2022  522.817165          0.0
23   Res Dinning   Summer   Aug  2022  522.817165          0.0
24   Res Dinning     Fall   Sep  2022  522.817165          0.0
25   Res Dinning     Fall   Oct  2022  522.817165          0.0
26   Res Dinning     Fall   Nov  2022  522.817165          0.0
27   Res Dinning     Fall   Dec  2022  522.817165          0.0
64        Martys   J-Term   Jan  2022  522.817165          0.0
65        Martys   Spring   Feb  2022  522.817165          0.0
66        Martys   Spring   Mar  2022  522.817165          0.0
67        Martys   Spring   Apr  2022  522.817165          0.0
68        Martys   Spring   May  2022  522.817165          0.0
69        Martys   Summer   Jun  2022  522.817165          0.0
70        Martys   Summer  July  2022  522.817165          0.0
71        Martys   Summer   Aug  2022  522.817165          0.0
72        Martys     Fall   Sep  2022  522.817165          0.0
73        Martys     Fall   Oct  2022  522.817165          0.0
74        Martys     Fall   Nov  2022  522.817165          0.0
75        Martys     Fall   Dec  2022  522.817165          0.0
112       Oneota   J-Term   Jan  2022  522.817165          0.0
113       Oneota   Spring   Feb  2022  522.817165          0.0
114       Oneota   Spring   Mar  2022  522.817165          0.0
115       Oneota   Spring   Apr  2022  522.817165          0.0
116       Oneota   Spring   May  2022  522.817165          0.0
117       Oneota   Summer   Jun  2022  522.817165          0.0
118       Oneota   Summer  July  2022  522.817165          0.0
119       Oneota   Summer   Aug  2022  522.817165          0.0
120       Oneota     Fall   Sep  2022  522.817165          0.0
121       Oneota     Fall   Oct  2022  522.817165          0.0
122       Oneota     Fall   Nov  2022  522.817165          0.0
123       Oneota     Fall   Dec  2022  522.817165          0.0
160      C-Store   J-Term   Jan  2022  522.817165          0.0
161      C-Store   Spring   Feb  2022  522.817165          0.0
162      C-Store   Spring   Mar  2022  522.817165          0.0
163      C-Store   Spring   Apr  2022  522.817165          0.0
164      C-Store   Spring   May  2022  522.817165          0.0
165      C-Store   Summer   Jun  2022  522.817165          0.0
166      C-Store   Summer  July  2022  522.817165          0.0
167      C-Store   Summer   Aug  2022  522.817165          0.0
168      C-Store     Fall   Sep  2022  522.817165          0.0
169      C-Store     Fall   Oct  2022  522.817165          0.0
170      C-Store     Fall   Nov  2022  522.817165          0.0
171      C-Store     Fall   Dec  2022  522.817165          0.0
208     Catering   J-Term   Jan  2022  522.817165          0.0
209     Catering   Spring   Feb  2022  522.817165          0.0
210     Catering   Spring   Mar  2022  522.817165          0.0
211     Catering   Spring   Apr  2022  522.817165          0.0
212     Catering   Spring   May  2022  522.817165          0.0
213     Catering   Summer   Jun  2022  522.817165          0.0
214     Catering   Summer  July  2022  522.817165          0.0
215     Catering   Summer   Aug  2022  522.817165          0.0
216     Catering     Fall   Sep  2022  522.817165          0.0
217     Catering     Fall   Oct  2022  522.817165          0.0
218     Catering     Fall   Nov  2022  522.817165          0.0
219     Catering     Fall   Dec  2022  522.817165          0.0