In [75]:
import pandas as pd
import plotly.express as px
import nbformat
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [76]:
DinningPred = pd.read_excel("DinningData.xlsx", sheet_name='Data for 2025 pred')

In [77]:
DinningPred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEP          285 non-null    int64
 1   Semester     285 non-null    int64
 2   Month        285 non-null    int64
 3   Year         285 non-null    int64
 4   Hours        240 non-null    float64
 5   Money Spent  285 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 13.5 KB

In [78]:
missing_values = DinningPred.isnull().sum()
missing_values

DEP             0
Semester        0
Month           0
Year            0
Hours          45
Money Spent     0
dtype: int64

In [79]:
print(DinningPred.columns)

Index(['DEP', 'Semester', 'Month', 'Year', 'Hours', 'Money Spent'], dtype='object')

In [80]:
# def split_dataset(df):
#     """
#     Splits the dataset into training and testing sets.
    
#     Parameters:
#     - df (pd.DataFrame): The input dataset.
    
#     Returns:
#     - X_train, X_test, y_train, y_test: Training and testing sets for features and labels.
#     """
#     # Replace 'your_target_column' with the actual name of your target column
#     target_column = 'Hours'
    
#     X = df.drop(target_column, axis=1)
#     y = df[target_column]
    
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
#     print(f'Size of the Train: {X_train.shape[0]}')
#     print(f'Size of the Test: {X_test.shape[0]}')
    
#     return X_train, X_test, y_train, y_test


# def train_model_random_forest(X_train, X_test, y_train, y_test):
#     """
#     Creates and trains a RandomForest model on the given training set 
#     and evaluates its performance on the test set.
    
#     Parameters:
#     - X_train, X_test, y_train, y_test: Training and testing sets for features and labels.
    
#     Returns:
#     - accuracy (float): Accuracy score of the trained model on the test set.
#     """
#     # Create and train the RandomForest model
#     rf_model = RandomForestClassifier()
#     rf_model.fit(X_train, y_train)

#     # Evaluate the model on the test set
#     y_pred = rf_model.predict(X_test)
#     accuracy = accuracy_score(y_test, y_pred)
#     print(f"Accuracy: {accuracy}\n")
#     return accuracy

# accuracies = {}

In [81]:
def linear_regression_impute(df, target_column, feature_columns, tolerance=0.1):
    # Separate the data into rows with and without missing values
    df_missing = df[df[target_column].isnull()]
    df_not_missing = df.dropna(subset=[target_column])

    # If there are no missing values, return the original dataframe
    if df_missing.empty:
        print(f"No missing values for {target_column}. Skipping imputation.")
        return df, None, None, None, None  # Return None for metrics

    # Split df_not_missing into training and testing sets
    X = df_not_missing[feature_columns]
    y = df_not_missing[target_column]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Create and fit a linear regression model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Predict on the test set to evaluate the model
    y_pred = model.predict(X_test)

    # Calculate evaluation metrics
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)


    print(f"Evaluation metrics for {target_column}:")
    print(f"Mean Squared Error (MSE): {mse:.2f}")
    print(f"Mean Absolute Error (MAE): {mae:.2f}")
    print(f"R-squared (R²): {r2:.2f}")

    # Predict missing values using the model
    X_missing = df_missing[feature_columns]
    predicted_values = model.predict(X_missing)

    # Create a dataset with imputed missing values
    df_filled = df.copy()
    df_filled.loc[df_missing.index, target_column] = predicted_values

    return df_filled, mse, mae, r2

In [82]:
target_columns_to_impute = ['Hours']
feature_columns_for_imputation = ['Year', 'Month', 'DEP', 'Semester']
linear_data = DinningPred.copy()

In [83]:
metrics = {}

In [85]:
for target_column in target_columns_to_impute:
    linear_data, mse, mae, r2 = linear_regression_impute(linear_data, target_column, feature_columns_for_imputation)
    if mse is not None and mae is not None and r2 is not None:
        metrics[target_column] = {
            'MSE': mse,
            'MAE': mae,
            'R-squared': r2
        }

Evaluation metrics for Hours:
Mean Squared Error (MSE): 113299.04
Mean Absolute Error (MAE): 227.68
R-squared (R²): 0.57

In [86]:
# Print all metrics
for target_column, metric in metrics.items():
    print(f"Metrics for {target_column}:")
    print(f"  Mean Squared Error (MSE): {metric['MSE']:.2f}")
    print(f"  Mean Absolute Error (MAE): {metric['MAE']:.2f}")
    print(f"  R-squared (R²): {metric['R-squared']:.2f}")

Metrics for Hours:
  Mean Squared Error (MSE): 113299.04
  Mean Absolute Error (MAE): 227.68
  R-squared (R²): 0.57

In [87]:
print(linear_data)

     DEP  Semester  Month  Year        Hours  Money Spent
0      1         1      9  2020  3859.980000   31844.8350
1      1         1     10  2020  4722.980000   38964.5850
2      1         1     11  2020  2842.680000   23452.1100
3      1         1     12  2020  1348.500000   11125.1250
4      1         2      1  2021  2247.990000   18545.9175
..   ...       ...    ...   ...          ...          ...
280    5         2      1  2025   -53.657769       0.0000
281    5         3      2  2025  -327.595303       0.0000
282    5         3      3  2025  -363.841731       0.0000
283    5         3      4  2025  -400.088158       0.0000
284    5         3      5  2025  -436.334586       0.0000

[285 rows x 6 columns]

In [88]:
missing_values = linear_data.isnull().sum()
missing_values

DEP            0
Semester       0
Month          0
Year           0
Hours          0
Money Spent    0
dtype: int64

In [89]:
df_2025 = linear_data[linear_data['Year'] == 2025]
df_2025

     DEP  Semester  Month  Year        Hours  Money Spent
52     1         2      1  2025  1089.508626          0.0
53     1         3      2  2025   815.571092          0.0
54     1         3      3  2025   779.324665          0.0
55     1         3      4  2025   743.078237          0.0
56     1         3      5  2025   706.831809          0.0
109    2         2      1  2025   803.717027          0.0
110    2         3      2  2025   529.779493          0.0
111    2         3      3  2025   493.533066          0.0
112    2         3      4  2025   457.286638          0.0
113    2         3      5  2025   421.040211          0.0
166    3         2      1  2025   517.925429          0.0
167    3         3      2  2025   243.987895          0.0
168    3         3      3  2025   207.741467          0.0
169    3         3      4  2025   171.495039          0.0
170    3         3      5  2025   135.248612          0.0
223    4         2      1  2025   232.133830          0.0
224    4         3      2  2025   -41.803704          0.0
225    4         3      3  2025   -78.050132          0.0
226    4         3      4  2025  -114.296559          0.0
227    4         3      5  2025  -150.542987          0.0
280    5         2      1  2025   -53.657769          0.0
281    5         3      2  2025  -327.595303          0.0
282    5         3      3  2025  -363.841731          0.0
283    5         3      4  2025  -400.088158          0.0
284    5         3      5  2025  -436.334586          0.0

In [90]:
linear_data = linear_data.applymap(lambda x: max(0, x))

/var/folders/b5/c2s8x6hx5bz57tz7p2pf4f2h0000gn/T/ipykernel_74203/2910141043.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  linear_data = linear_data.applymap(lambda x: max(0, x))

In [91]:
df_2024 = linear_data[linear_data['Year'] == 2024]
df_2024

     DEP  Semester  Month  Year        Hours  Money Spent
40     1         2      1  2024   948.630000    8774.8275
41     1         3      2  2024  1057.590000    9782.7075
42     1         3      3  2024   694.670000    6425.6975
43     1         3      4  2024  1065.520000    9856.0600
44     1         3      5  2024   418.670000    3872.6975
45     1         4      6  2024     0.000000       0.0000
46     1         4      7  2024     0.000000       0.0000
47     1         4      8  2024     0.000000       0.0000
48     1         1      9  2024  1145.012715       0.0000
49     1         1     10  2024  1108.766287       0.0000
50     1         1     11  2024  1072.519860       0.0000
51     1         1     12  2024  1036.273432       0.0000
97     2         2      1  2024   683.680000    6324.0400
98     2         3      2  2024   896.310000    8290.8675
99     2         3      3  2024   540.880000    5003.1400
100    2         3      4  2024   847.780000    7841.9650
101    2         3      5  2024   330.860000    3060.4550
102    2         4      6  2024     0.000000       0.0000
103    2         4      7  2024     0.000000       0.0000
104    2         4      8  2024     0.000000       0.0000
105    2         1      9  2024   859.221116       0.0000
106    2         1     10  2024   822.974688       0.0000
107    2         1     11  2024   786.728261       0.0000
108    2         1     12  2024   750.481833       0.0000
154    3         2      1  2024   276.180000    2554.6650
155    3         3      2  2024   495.020000    4578.9350
156    3         3      3  2024   321.530000    2974.1525
157    3         3      4  2024   426.840000    3948.2700
158    3         3      5  2024   207.120000    1915.8600
159    3         4      6  2024     0.000000       0.0000
160    3         4      7  2024     0.000000       0.0000
161    3         4      8  2024     0.000000       0.0000
162    3         1      9  2024   573.429517       0.0000
163    3         1     10  2024   537.183090       0.0000
164    3         1     11  2024   500.936662       0.0000
165    3         1     12  2024   464.690234       0.0000
211    4         2      1  2024   198.520000    1836.3100
212    4         3      2  2024   261.430000    2418.2275
213    4         3      3  2024   142.900000    1321.8250
214    4         3      4  2024   203.570000    1883.0225
215    4         3      5  2024    90.840000     840.2700
216    4         4      6  2024     0.000000       0.0000
217    4         4      7  2024     0.000000       0.0000
218    4         4      8  2024     0.000000       0.0000
219    4         1      9  2024   287.637918       0.0000
220    4         1     10  2024   251.391491       0.0000
221    4         1     11  2024   215.145063       0.0000
222    4         1     12  2024   178.898636       0.0000
268    5         2      1  2024    30.890000     285.7325
269    5         3      2  2024   109.630000    1014.0775
270    5         3      3  2024    87.050000     805.2125
271    5         3      4  2024   119.090000    1101.5825
272    5         3      5  2024    58.380000     540.0150
273    5         4      6  2024     0.000000       0.0000
274    5         4      7  2024     0.000000       0.0000
275    5         4      8  2024     0.000000       0.0000
276    5         1      9  2024     1.846320       0.0000
277    5         1     10  2024     0.000000       0.0000
278    5         1     11  2024     0.000000       0.0000
279    5         1     12  2024     0.000000       0.0000

In [92]:
df_2025 = linear_data[linear_data['Year'] == 2025]
df_2025

     DEP  Semester  Month  Year        Hours  Money Spent
52     1         2      1  2025  1089.508626          0.0
53     1         3      2  2025   815.571092          0.0
54     1         3      3  2025   779.324665          0.0
55     1         3      4  2025   743.078237          0.0
56     1         3      5  2025   706.831809          0.0
109    2         2      1  2025   803.717027          0.0
110    2         3      2  2025   529.779493          0.0
111    2         3      3  2025   493.533066          0.0
112    2         3      4  2025   457.286638          0.0
113    2         3      5  2025   421.040211          0.0
166    3         2      1  2025   517.925429          0.0
167    3         3      2  2025   243.987895          0.0
168    3         3      3  2025   207.741467          0.0
169    3         3      4  2025   171.495039          0.0
170    3         3      5  2025   135.248612          0.0
223    4         2      1  2025   232.133830          0.0
224    4         3      2  2025     0.000000          0.0
225    4         3      3  2025     0.000000          0.0
226    4         3      4  2025     0.000000          0.0
227    4         3      5  2025     0.000000          0.0
280    5         2      1  2025     0.000000          0.0
281    5         3      2  2025     0.000000          0.0
282    5         3      3  2025     0.000000          0.0
283    5         3      4  2025     0.000000          0.0
284    5         3      5  2025     0.000000          0.0

In [93]:
PredictedData = linear_data.copy()

In [94]:
PredictedData

     DEP  Semester  Month  Year    Hours  Money Spent
0      1         1      9  2020  3859.98   31844.8350
1      1         1     10  2020  4722.98   38964.5850
2      1         1     11  2020  2842.68   23452.1100
3      1         1     12  2020  1348.50   11125.1250
4      1         2      1  2021  2247.99   18545.9175
..   ...       ...    ...   ...      ...          ...
280    5         2      1  2025     0.00       0.0000
281    5         3      2  2025     0.00       0.0000
282    5         3      3  2025     0.00       0.0000
283    5         3      4  2025     0.00       0.0000
284    5         3      5  2025     0.00       0.0000

[285 rows x 6 columns]

In [95]:
PredictedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEP          285 non-null    int64
 1   Semester     285 non-null    int64
 2   Month        285 non-null    int64
 3   Year         285 non-null    int64
 4   Hours        285 non-null    float64
 5   Money Spent  285 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 13.5 KB

In [96]:
missing_values = PredictedData.isnull().sum()
missing_values

DEP            0
Semester       0
Month          0
Year           0
Hours          0
Money Spent    0
dtype: int64